src/paycoind
src/test_paycoin

# Ignore build dir
build/

# Compilation and Qt preprocessor part
*.qm
Makefile
paycoin-qt

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
