IDI_ICON1 ICON DISCARDABLE "icons/paycoin.ico"

#include <windows.h> // needed for VERSIONINFO

VS_VERSION_INFO VERSIONINFO
FILEOS         	VOS_NT_WINDOWS32
FILETYPE       	VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English - multilingual (hex)
        BEGIN
            VALUE "CompanyName",        "Paycoin"
            VALUE "FileDescription",    "Paycoin-Qt (OSS GUI client for Paycoin)"
            VALUE "InternalName",       "paycoin-qt"
            VALUE "LegalCopyright",     "2014-2016 The Paycoin developers"
            VALUE "LegalTrademarks1",   "Distributed under the MIT software license, see the accompanying file COPYING or http://www.opensource.org/licenses/mit-license.php."
            VALUE "OriginalFilename",   "paycoin-qt.exe"
            VALUE "ProductName",        "Paycoin-Qt"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252 // language neutral - multilingual (decimal)
    END
END
